<!DOCTYPE html>
<html>
  <head>
    <title>
      JavaScript vue
    </title>
  </head>
  <body>
    <div id="app">
      <button @click="incrementCount">Clicked {{ count }} times</button>
      <h2>My course goals</h2>
      <input type="text" v-model="currentGoal" @keydown.enter="addGoal" />
      <button @click="addGoal">Add Goal</button>
     
      <p v-if="goals.length === 0">
        No goals have been added yet - please start adding some!
    </p>
    <ul v-else>
        <li
            v-for="(goal, index) in goals"
            :key="goal"
            @click="removeGoal(index)"
        >
            <p>{{ index+1 }} - {{ goal }}</p>
            <!-- .stop stops propagation (bubbling), doesnt trigger outer events -->
        </li>
    </ul>
      </ul>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js" defer></script>
  </body>
</html>
